# Build directories
/classes
/logs
/build
/projects/*/logs
/projects/*/build
/buildSrc/build
/out
/doc/out/
/node_modules
.jqwik-database

# Runtime directories
/run
/projects/*/run

*.ipr
*.iws
*.iml
.idea
.gradle
*.DS_Store

/.classpath
/.project
/.settings
/.vscode
*.launch

/projects/*/src/generated/resources/.cache
