# Build directories
/classes
/logs
/build
/out

# Runtime directories
/run
/run-*
/test-files

*.ipr
*.iws
*.iml
.idea
.gradle
*.DS_Store

.classpath
.project
.settings/
bin/
*.launch

/src/generated/resources/.cache
