# SPDX-FileCopyrightText: 2023 The CC: Tweaked Developers
#
# SPDX-License-Identifier: MPL-2.0

[submodule "vendor/Cobalt"]
	path = vendor/Cobalt
	url = https://github.com/SquidDev/Cobalt.git
	branch = java-6
