# SPDX-FileCopyrightText: 2019 The CC: Tweaked Developers
#
# SPDX-License-Identifier: MPL-2.0

# DirectVertexBuffer
public com.mojang.blaze3d.vertex.VertexBuffer indexCount

# ClientTableFormatter
public net.minecraft.client.gui.components.ChatComponent allMessages

# ItemPocketRenderer/ItemPrintoutRenderer
public net.minecraft.client.renderer.ItemInHandRenderer calculateMapTilt(F)F
public net.minecraft.client.renderer.ItemInHandRenderer renderMapHand(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;ILnet/minecraft/world/entity/HumanoidArm;)V
public net.minecraft.client.renderer.ItemInHandRenderer renderPlayerArm(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;IFFLnet/minecraft/world/entity/HumanoidArm;)V

# SpeakerInstance/SpeakerManager
public com.mojang.blaze3d.audio.Channel pumpBuffers(I)V
public net.minecraft.client.sounds.SoundEngine executor

# Data generators
public net.minecraft.data.models.BlockModelGenerators blockStateOutput
public net.minecraft.data.models.BlockModelGenerators modelOutput
public net.minecraft.data.models.BlockModelGenerators delegateItemModel(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.models.BlockModelGenerators delegateItemModel(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/ResourceLocation;)V
public net.minecraft.data.models.BlockModelGenerators createHorizontallyRotatedBlock(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/data/models/model/TexturedModel$Provider;)V
public net.minecraft.data.models.ItemModelGenerators output
public net.minecraft.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Lnet/minecraft/data/models/model/ModelTemplate;)V
public net.minecraft.data.models.ItemModelGenerators generateFlatItem(Lnet/minecraft/world/item/Item;Ljava/lang/String;Lnet/minecraft/data/models/model/ModelTemplate;)V
public net.minecraft.data.models.model.TextureSlot create(Ljava/lang/String;)Lnet/minecraft/data/models/model/TextureSlot;

public net.minecraft.util.datafix.fixes.ItemStackComponentizationFix$ItemStackData
