/* Pretty tables, mostly inherited from table.definition-list */
table.pretty-table {
    border-collapse: collapse;
    width: 100%;
}

table.pretty-table td, table.pretty-table th {
    border: 1px solid #cccccc;
    padding: 2px 4px;
}

table.pretty-table th {
    background-color: #f0f0f0;
}
