name: Build

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: 游닌 Clone repository
      uses: actions/checkout@v3

    - name: 游닌 Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'

    - name: 游닌 Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        cache-read-only: ${{ !startsWith(github.ref, 'refs/heads/mc-') }}

    - name: Disable Gradle daemon
      run: |
        mkdir -p ~/.gradle
        echo "org.gradle.daemon=false" >> ~/.gradle/gradle.properties

    - name: 丘뉦잺 Build
      run: ./gradlew assemble || ./gradlew assemble

    - name: 游눠 Lint
      uses: pre-commit/action@v3.0.0

    - name: 游빍 Run tests
      run: ./gradlew test validateMixinNames checkChangelog

    - name: 游닌 Download assets for game tests
      run: ./gradlew downloadAssets || ./gradlew downloadAssets

    - name: 游빍 Run integration tests
      run: ./gradlew runGametest || cat projects/forge/run/testServer/logs/latest.log

    - name: 游빍 Run client tests
      run: ./gradlew runGametestClient # Not checkClient, as no point running rendering tests.
      # These are a little flaky on GH actions: its useful to run them, but don't break the build.
      continue-on-error: true

    - name: 游빍 Parse test reports
      run: ./tools/parse-reports.py
      if: ${{ failure() }}

    - name: 游닍 Prepare Jars
      run: |
        # Find the main jar and append the git hash onto it.
        mkdir -p jars
        find projects/forge/build/libs projects/fabric/build/libs -type f -regex '.*[0-9.]+\(-SNAPSHOT\)?\.jar$' -exec bash -c 'cp {} "jars/$(basename {} .jar)-$(git rev-parse HEAD).jar"' \;

    - name: 游닋 Upload Jar
      uses: actions/upload-artifact@v3
      with:
        name: CC-Tweaked
        path: ./jars

    - name: 游닋 Upload coverage
      uses: codecov/codecov-action@v3

  build-core:
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: Windows
          uses: windows-latest

        - name: macOS
          uses: macos-latest

    name: Test on ${{ matrix.name }}
    runs-on: ${{ matrix.uses }}

    steps:
    - name: Clone repository
      uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: 17
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        cache-read-only: ${{ !startsWith(github.ref, 'refs/heads/mc-') }}

    - name: Run tests
      run: |
        ./gradlew --configure-on-demand :core:test

    - name: Parse test reports
      run: python3 ./tools/parse-reports.py
      if: ${{ failure() }}
